@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #222;
  min-height: 250vh;
}

section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

section .side {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#side1 {
  clip-path: polygon(0 0, 0% 100%, 100% 100%);
}
#side2 {
  clip-path: polygon(0 0, 100% 0, 100% 100%);
}

section .side video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  color: white;
  padding: 50px;
  margin-top: 175vh;
}

.content h2 {
  font-size: 3rem;
}

.content p {
  font-size: 1.2rem;
}

/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  background-clip: padding-box;
  padding: 1px !important;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #00000073;
  border-radius: 10px;
  background-clip: padding-box;
  padding: 1px !important;
}

/* SCROLLBAR END */
